.products-page {
  width: 100%;
  height: auto;
  background: #f8f8ff;
}

/** PRODUCTS**/

.products-page .products {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #f8f8ff;
}

.products-page .products .avatar-big-box {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.products-page .products .top-title {
  position: relative;
  width: 100%;
  height: 43px;
  margin-top: 80px;
  margin-left: 380px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #343434;
  justify-content: space-between;
<<<<<<< HEAD
  font-family: "Dancing Script";
=======
  font-family: "Roboto Serif";
>>>>>>> ee79406 (feat: publish products sectional component)
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #343434;
}

.products-page .products .search-box {
  position: relative;
  margin-top: 80px;
  margin-right: 50px;
  width: 100%;
  max-width: 360px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 18.5px;
  background: #fffcf7;
  box-shadow: 0px 4px 8px rgba(212, 212, 212, 0.25);
  box-sizing: border-box;
}

.products-page .products .search-box .search-input {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  display: flex;
  border: none;
  border-radius: 10px 0px 0px 10px;
  background: #fffcf7;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
  outline: none;
  box-shadow: none;
}

.products-page .products .search-btn {
  position: relative;
  width: 106px;
  height: 32px;
  color: #d7b586;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 18px;
  background: #343434;
  color: #d7b586;
<<<<<<< HEAD
  font-family: "Quicksand";
=======
  font-family: "Dancing Script";
>>>>>>> ee79406 (feat: publish products sectional component)
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.products-page .products .dishes-filter-section {
  margin-top: 65px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.products-page .products .dishes-filter-box {
  width: 240px;
  height: 36.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.products-page .products .dishes-filter-box .order {
  width: 70px;
  height: 36.5px;
  border-radius: 8px;
  font-family: "Roboto Serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.products-page .products .list-category-section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 600px;
  display: flex;
  flex-direction: row;
}

.products-page .products .product-category {
  margin-top: 60px;
  width: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .products .category-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  gap: 3px;
  transform: rotate(-90deg);
}
.products-page .products .category-main .btn {
  min-width: auto;
  margin-right: 10px;
  font-family: "Roboto Serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

/**product wrapper**/

.products-page .products .product-wrapper {
  margin-left: 25px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.products-page .products .product-card {
  margin-top: 40px;
  width: 270px;
  margin-right: 24px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .products .product-card .product-img {
  position: relative;
  width: 273px;
  height: 275px;
  background-size: cover;
  border-radius: 0px 50px 0px 0px;
}

.products-page .products .product-img .product-sale {
  margin: 10px;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: #ff9200;
  box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.1);
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  color: #ffffff;
}

.products-page .products .product-card .product-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.products-page .products .product-desc .product-title {
  color: #343434;
  margin-top: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.products-page .products .product-card .product-desc1 {
  margin-top: 2px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #e3c08d;
}

.products-page .products .product-img:before {
  border-radius: 0px 50px 0px 0px;
  content: "";
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.products-page .products .product-img:hover:before {
  border-radius: 0px 50px 0px 0px;
}

.products-page .products .product-img img {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.products-page .products .shop-btn {
  position: absolute;
  padding: 20px;
  top: 217px;
  width: 64px;
  height: 46px;
  left: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 10px;
  border: 1px solid #e3c08d;
  background: rgba(187, 47, 200, 0.78);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #f8f8ff;
}

.products-page .products .product-img:hover .shop-btn {
  opacity: 1;
}

.products-page .products .product-img:hover .view-btn {
  opacity: 1;
}

.products-page .products .view-btn {
  position: absolute;
  top: 223px;
  padding: 5px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.products-page .products .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

/** Pagination **/

.products-page .products .pagination-section {
  width: 193px;
  height: 46px;
  margin-top: 9px;
}

/** Brands Logo **/
.products-page .products .brands-logo {
  margin-top: 67px;
  width: 100%;
  height: 630px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background: #0d1518;
}

.products-page .products .brands-logo .logo-title {
  width: 305px;
  height: 46px;
  color: #e3c08d;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 84px auto 0 auto;
  text-align: center;
}

.products-page .products .brands-logo .logo-box {
  margin-top: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.products-page .products .brands-logo .logo-img {
  width: 238px;
  height: 332px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff0a;
  border-radius: 16px;
  box-shadow: 0px 0px 22px 0px #e4d4d4;
  cursor: pointer;
}

.products-page .products .brands-logo .logo-img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 22px 0px #e4d4d4;
}

.products-page .products .brands-logo .logo-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/** Address **/

.products-page .products .address {
  margin-bottom: 60px;
  height: auto;
  background: #f8f8ff;
}

.products-page .products .address .address-area {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .products .address .title {
<<<<<<< HEAD
  font-family: "Dancing Script";
=======
  font-family: "Roboto Serif";
>>>>>>> ee79406 (feat: publish products sectional component)
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
<<<<<<< HEAD

/** ChosenProduct **/
.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}
.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}
.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}
.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}
.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}
.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}
.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.products-page .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}
.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}
.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}
=======
>>>>>>> ee79406 (feat: publish products sectional component)
